
<partial Title="_Notification" />
<div class="container c2">
    <div class="row pt-4">
        <div class="col-6">
            <h2>User List</h2>
        </div>

    </div>
    <div class="table-responsive">
    <table id="tableDataUserManagement" class="table table-bordered" style="width:100%">
        <thead>
            <tr>

                <th class="text-dark">Name</th>
                <th class="text-dark">Email</th>
                <th class="text-dark">Phone</th>
                <th class="text-dark">Company</th>
                <th class="text-dark">Role</th>
                <th class="text-dark">Actions</th>

            </tr>
        </thead>

    </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/user.js"></script>
}