@model int
<div class="container row pt-4">
    <div class="card c2">
        <div class="card-body">
            <div class="col-12 text-center">
                <h1 class="text-secondary text-center">Order Placed Successfully</h1>
                The Order Number is : @Model <br /> <br />

                <img src="" width="65%" />

            </div>
            <div class="col-12 text-center" style="color:lightgreen">
                <br />
                Your Order has been placed successfully <br />


            </div>
        </div>
  

    </div>

</div>